.mgroup-webform-leads-table {
  width: 100%;
  border-collapse: collapse; /* Collapse borders to prevent duplication */

  thead th {
    border-bottom: 1px solid black; /* Add border to table header row */
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  tbody td {
    color: #555555;
    text-align: center;
    padding: 10px;

    &.ta-left {
      text-align: left;
    }
  }

  th {
    border: 1px solid black; /* Add border to table header cells */
    padding: 8px; /* Add padding for better readability */
  }

  td {
    border: 1px solid black; /* Add border to table data cells */
    padding: 8px; /* Add padding for better readability */
  }
}
